<h3>Create a category</h3>
<form>
  <div class="form-group">
    <label for="name">New Category</label>
    {{input class="form-control" value=name id="name"}}
  </div>
  <button {{action 'saveCategory'}} class="btn btn-info">Save</button>
</form>
