body {
  a {
    color: #333;
    &:hover {
      color: darkgrey;
      text-decoration: none;
    }
  }
  .post-tile {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  .col-md-4 {
    min-height: 500px;
    background-color: #36454f;
    color: white;
    input {
      color: black;
    }
  }
  .post-detail {
    div {
      display: inline;
    }
  }

  #main-content {
    margin-top: 45px;
  }

}
