body {
  background-image: url(https://images.unsplash.com/photo-1451226428352-cf66bf8a0317?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=57465abcce7fae272dae624612b751cc);
  font-family: 'Roboto', sans-serif;
  h3 {
    font-family: 'Special Elite', cursive;
  }
  a {
    color: #333;
    &:hover {
      color: darkgrey;
      text-decoration: none;
    }
  }
  .navbar-inverse {
    .navbar-brand {
      font-family: 'Special Elite', cursive;
      color: white;
      font-size: 25px;
    }
  }

  .post-tile {
    border-bottom: 2px solid darkgrey;
    margin-bottom: 15px;
    padding-bottom: 5px;
  }
  .col-md-4 {
    min-height: 500px;
    background-color: #36454f;
    color: white;
    input {
      color: black;
    }
  }
  .col-md-8 {
    h3 {
      color: #36454f;
    }
    .post-tile {
      div {
        display: inline;
      }
    }
  }
  .post-detail {
    div {
      display: inline;
    }
  }

  #main-content {
    margin-top: 70px;
  }

}
