<div class="row">
  <div class="col-md-8">
    <h2>About Lorem Ipsum Blog</h2>
    <p>
      We're dedicated to bringing you all the latest filler copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget est et purus tristique hendrerit in quis mauris. Phasellus rutrum risus in felis efficitur, id ultricies sem congue. Suspendisse pulvinar feugiat ipsum, ac consequat nibh dictum sit amet. Fusce ac est sapien. Nullam sed ante ac sapien fermentum vehicula. Integer tristique eu leo sed porttitor. In efficitur commodo leo vel tristique. Maecenas nec sapien aliquam, elementum mauris interdum, egestas dolor. Pellentesque nec lobortis est. Maecenas porta lorem sit amet nibh euismod, eu tincidunt libero fermentum. Donec cursus tellus vel metus varius mollis.
    </p>
  </div>
  <div class="col-md-4 well well-sidebar">
    <h3>Quick Links</h3>
    {{new-post savePost="savePost"}}
  </div>
</div>
