<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a href="/">
      <div class="navbar-header">
        <a class="navbar-brand">Lorem Ipsum News</a>
      </div>
    </a>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="container" id="main-content">
  {{outlet}}
</div>
