<div class="row">
  <div class="col-md-8 well">
    <h3>Blog Feed</h3>
    {{reverseEach model.posts}}
    {{#each model.posts as |post index|}}
      {{#unless (postCount index)}}
        {{post-tile post=post update="update" deletePost="deletePost"}}
      {{/unless}}
    {{/each}}
    <a href="/posts"><h4>See additional posts</h4></a>
  </div>
  <div class="col-md-4 well well-sidebar">
    {{new-post savePost="savePost"}}
  </div>
</div>
